html, body
{
  font-family: Verdana, Arial, Sans-Serif;
  height:100%;
  font-size:9pt;
  padding:0;
  margin:0;
  background-color:#ffffff;
  color:Black;  
}

h1 { font-size:16pt;}
h2 { font-size:14pt;}
h3 { font-size:12pt;}
h4 { font-size:11pt;}
h5 { font-size:10pt;}
h6 { font-size:9pt;}

#head
{  
  background-color:#f8f8f8;  
  color:Black;
  border-bottom: solid 1px #ccc;
  padding:1em;  
}

a,
a:link,
a:visited,
a:active
{
  color:Black;
  background-color:Transparent;
}

a:hover
{
  color:Gray;  
  background-color:Transparent;
}

#head h1,
#head p
{
  display:inline;
}


#head h1
{
  font-size:12pt;
}

.container
{
  float:left;
  width:48%;
  position: relative;
  margin:0.2%;  
  padding:0.2%;
}

.inner
{
  border: solid 1px gray;
  padding:0.4%;
}

#source
{ 
  width: 99%;
  border:none;
  font-family:Consolas, "Courier New", Courier, Monospace;
  font-size:9pt;  
}

#info
{
  margin: 0.5em 1em 0 1em;
  padding: 1em;
  border: dashed 1px #ccc;
  background-color: #fffff8;
  color: #555;
}
